* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #9ccee7, #c4d2ea);
    
  }
  

  .card {
    width: 90%;
    max-width: 500px;
    background: rgba(211, 157, 157, 0.8); /* White background with slight transparency */
    color: #333; /* Dark gray text for better readability */
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    
  }
  
  .search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; /* Add spacing below the search bar */
  }
  
  .search input {
    border: 1px solid #ddd; /* Light gray border */
    outline: none;
    background: #e4eff1; /* Lighter background for better contrast */
    color: #333; /* Dark gray text for better readability */
    padding: 10px 20px;
    height: 40px;
    border-radius: 5px;
    flex: 1;
    font-size: 16px;
  }
  
  .search button {
    border: none;
    outline: none;
    background: #3aa8e0; /* Blue background for the button */
    color: #fff; /* White text for better contrast */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the button */
  }
  
  .search button img {
    width: 18px;
  }
  
  .weather-icon {
    width: 100px; /* Adjust icon size as needed */
    margin-top: 20px; /* Adjust spacing as needed */
  }
  
  .weather h1 {
    font-size: 50px; /* Adjust heading size as needed */
    font-weight: 500;
  }
  
  .weather h2 {
    font-size: 30px; /* Adjust subheading size as needed */
    font-weight: 400;
  }
  
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Adjust padding as needed */
    margin-top: 20px; /* Adjust spacing as needed */
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Add a thin border for separation */
  }
  
  .col {
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .col img {
    width: 30px; /* Adjust icon size as needed */
    margin-right: 10px; /* Adjust spacing as needed */
  }
  
  .humidity, .wind {
    font-size: 18px; /* Adjust font size as needed */
    margin-top: 0; /* Remove margin-top */
  }
  
